<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 blue darken-2">
                <div class="row">
                    <h3 class="white-text">Success! {{user.first_name}}, you logged in!</h3>
                    <a href="/logout" class="btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>